:root {
  --blue: rgb(25 146 212);
  --gold: rgb(240 180 41);
  --gray: rgb(226 232 240);
  font-family: 'Roboto';
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

/* Laying Out the Grid */

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;
}

#header {
  background-color: white;
}

#sidebar {
  background-color: var(--blue);
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  color: white;
  font-weight: bold;
}

#main-content {
  background-color: var(--gray);
}

input {
  background-color: var(--gray);
}

/* Sidebar Elements */

li img {
  width: 1.3rem;
}

#sidebar-wrapper ul {
  display: grid;
  grid-template: repeat(6, 2.5rem) / 1fr;
  list-style-type: none;
}

#sidebar-wrapper {
  display: grid;
  grid-template: 3.6rem 2fr 2fr / 1fr;
  gap: 2rem;
}

#top-header {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
  justify-content: center;
}

#top-header img {
  justify-self: center;
}

.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
}

#second-list ul {
  grid-template: repeat(6, 1fr) / 1fr;
}

.logo {
  justify-items: center;
  align-items: center;
}

.title {
  align-items: center;
  font-size: 1.3rem;
}

#dashboard {
  width: 2.5rem;
}

h1 {
  font-size: 1.6rem;
}

/* Header Elements */

input {
  border-radius: 50px;
  width: 100%;
  box-shadow: none;
  border: none;
  padding-left: 1rem;
}

#header {
  display: grid;
  grid-template: 1fr 2fr / 5fr 3fr;
  width: 98%;
  padding-top: 0.8rem;
  align-items: center;
}

form {
  display: grid;
  grid-template: 1fr / 1fr 9fr;
  width: 100%;
  justify-self: center;
  gap: 0.9rem;
}

#search-btn {
  width: 40%;
  border: none;
  background: none;
  justify-self: end;
}

#bell {
  width: 18%;
  justify-self: end;
}

#side-icons {
  display: grid;
  grid-template: 1fr / 2fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
}

#cat-profile {
  width: 70%;
}

#side-icons h3 {
  justify-self: start;
}

#button-container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 0.8rem;
  padding: 0 1rem;
}

.blue-btn {
  padding: 0.4rem 1.2rem;
  border: none;
  background-color: var(--blue);
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

#hello {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 4fr;
}

#hello p {
  align-self: flex-end;
}

#cat-icon {
  grid-row: 1 / 3;
  width: 80%;
  justify-self: end;
}