:root {
  --blue: rgb(25 146 212);
  --gold: rgb(240 180 41);
  --gray: rgb(226 232 240);
  font-family: 'Roboto';
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

/* Laying Out the Grid */

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;
}

#header {
  background-color: white;
}

#sidebar {
  background-color: var(--blue);
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  color: white;
  font-weight: bold;
}

#main-content {
  background-color: var(--gray);
}

input {
  background-color: var(--gray);
}

/* Sidebar Elements */

#img-div img {
  justify-self: end;
}

.logo li {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: end;
  padding-right: 0.5rem;
}

#sidebar-wrapper ul {
  display: grid;
  grid-template: repeat(6, 2.5rem) / 1fr;
  list-style-type: none;
}

#sidebar-wrapper {
  display: grid;
  grid-template: 3.6rem 2fr 2fr / 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

#top-header {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#dashboard {
  justify-self: end;
  padding-left: 1.4rem;
}

.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  gap: 1rem;
}

#second-list ul {
  grid-template: repeat(6, 1fr) / 1fr;
}

.logo {
  justify-items: center;
  align-items: center;
}

.title {
  align-items: center;
  font-size: 1.3rem;
}

h1 {
  font-size: 1.6rem;
}

/* Header Elements */

input {
  border-radius: 50px;
  width: 100%;
  box-shadow: none;
  border: none;
  padding-left: 1rem;
}

#header {
  display: grid;
  grid-template: 2fr 3fr / 5fr 3fr;
  width: 98%;
  align-items: center;
}

form {
  display: grid;
  grid-template: 1fr / 1fr 9fr;
  width: 100%;
  justify-self: center;
  gap: 0.9rem;
}

/* Different Section */

#search-btn {
  border: none;
  background: none;
  justify-self: end;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: end;
}

#side-icons {
  display: grid;
  grid-template: 1fr / 3fr 2fr 6fr;
  align-items: center;
  gap: 1.5rem;
}

#button-container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr) 2rem;
  gap: 2rem;
}

.blue-btn {
  border: none;
  background-color: var(--blue);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0;
}

#bell {
  justify-self: end;
}

#cat-profile {
  justify-self: center;
}

#profile-name {
  font-size: 1.3rem;
}

/* Different section */

#hello {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 4fr;
  gap: 0.2rem;
}

#hello p {
  align-self: flex-end;
}

#cat-icon {
  grid-row: 1 / 3;
  justify-self: end;
}

#profile-name {
  justify-self: start;
  grid-column: 3 / 5;
}

/* Main Body */

#main-content {
  display: grid;
  grid-template: 1fr 6fr 1fr 7fr / 2fr 1fr;
  padding: 0 0 2rem 1rem;
  gap: 1rem;
}

#main-content h3 {
  align-self: flex-end;
}

#card-container {
  grid-row: 2 / 5;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  border-left: 5px solid var(--gold);
  padding: 2rem 0 0 2rem;
  display: grid;
  grid-template: 3fr 1fr / 1fr;
}

.card-text {
  max-width: 95%;
}

.card-images {
  width: 40%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  align-items: flex-end;
  justify-self: end;
  padding: 0 1rem 1rem 0;
}

.card-images img {
  width: 1.5rem;
}

#announcements {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  padding: 1rem 2rem;
  background-color: white;
  width: 95%;
  place-items: center;
  border-radius: 10px;
}

.announcement {
  overflow: hidden;
  width: 300px;
  border-bottom: 2px solid gray;
  padding-bottom: 0.8rem;
  word-wrap: break-word;
  max-height: 100px;
}

.announcement p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  max-width: 90%;
}

/* Trending page */

.trending-tab {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  background-color: white;
  padding: 0.5rem 0 0.5rem 2rem;
  border-radius: 10px;
  width: 95%;
}

.trending-profile {
  display: grid;
  grid-template: 1fr / 1fr 4fr;
  align-items: center;
}

.img-wrap {
  height: 50px;
  width: 50px;
}

.img-wrap img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trending-profile h5 {
  font-weight: normal;
  color: gray;
}